<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Discover.MultiLingual.SQL.Properties.Settings.MultiLingualConnectionString"
            connectionString="Data Source=SOL;Initial Catalog=Sales3Survey;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>