<?xml version="1.0" encoding="utf-8" ?>
<htmlTemplates xmlns="http://www.discover-corporation.com">
  <templateFolder name="root">
    <templateFolder name="MailTemplates">
      <themes>
      </themes>
      <template  name="Registration" path="MailTemplates/Registration.htm" master="MailTemplateMaster" themesEnabled="false" />
      <template  name="PersonalMoodReportMail" path="MailTemplates/PersonalMoodReportMail.htm" master="MailTemplateMaster" themesEnabled="false" />
      <template  name="InterestAcknowledgedMail" path="MailTemplates/InterestAcknowledgedMail.htm" master="MailTemplateMaster" themesEnabled="false" />
      <template  name="InterestRegisteredMail" path="MailTemplates/InterestRegisteredMail.htm" master="MailTemplateMaster" themesEnabled="false" />
      <master  name="MailTemplateMaster" path="MailTemplates/MailTemplateMaster.htm"  themesEnabled="false" />
    </templateFolder>
  </templateFolder>
</htmlTemplates>