@model MyMood.Web.Models.ChangePasswordFormModel
@{
    ViewBag.Title = "Change Password";
    //Bundles.Reference("Styles/change-password");
}
<div class="row changePassword">
    <div class="twelvecol last">
        @Html.Partial(MVC.User.Views.ChangePassword, Model)
    </div>
</div>
@section BodyScripts
{
<script type="text/javascript">
    $(document).ready(function () {
        setupValidationTooltips("#change-password-form");
    });
</script>
}
