@model MyMood.Web.Models.ForgottenPasswordFormModel
@{
    ViewBag.Title = "Forgotten Password";
}
<div class="login">

    @using(Html.BeginForm(MVC.User.ForgottenPassword(), FormMethod.Post)) 
    {
        @Html.ValidationSummary()
        <label class="input inline">Username</label>
        @Html.TextBoxFor(m => m.UserName, new { @class = "", name = "", tabindex = "1", autofocus = "autofocus" })
        <div class="actionHolder">
            <button type="submit" name="commit" class="buttonAction buttonPrimary" tabindex="2"><span class="iconLight icon-repeat"></span>Reset My Password</button>
        </div>
    }

    @if (ViewBag.ResetSuccessful == true)
    {
    <div class="password-reset-successful">
        Your new password has been sent to you via email!
    </div>
    }
</div>

@section BodyScripts
{
@if (ViewBag.ResetSuccessful == true)
{
<script type="text/javascript">
    setTimeout(function () { window.location.href = '@(Url.RouteUrl("LogIn"))' }, 10000);
</script>
}
}