@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
    ViewBag.Title = "Access Denied";
}
<div class="container">
    <div class="row">
        <div class="twocol"></div>
        <div class="tencol">
            <div class="content">
                <h1>Sorry, but you do not have sufficient privileges to access to this part of the application</h1>
                <p>
                    Please contact your systems administrator if believe you should have access to the feature you just tried to visit.
                </p>
            </div>
        </div>
        <div class="twocol last"></div>
    </div>
</div>