@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="twocol"></div>
        <div class="tencol">
            <div class="content">
                <h1>An error has occurred while processing your request</h1>
                <p>Our engineers have been informed and will investigate the problem.</p>
                <p>Please try again later.</p>
                <p>For further help or information please contact <a href="mailto:enquiries@discover-corporation.com">enquiries@discover-corporation.com</a></p>
            </div>
        </div>
        <div class="twocol last"></div>
    </div>
</div>
