<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="Discover">
      <section name="Application" type="Discover.Common.Config.DiscoverApplicationConfigSection, Discover.Common" />
      <section name="Mail" type="Discover.Mail.Config.MailConfigSection, Discover.Common" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MailBee.Pop3Mail.Pop3.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.ImapMail.Imap.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.Security.Powerup.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.AntiSpam.BayesFilter.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.OutlookMsg.MsgConvert.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MyMood.HtmlTemplatesFolder" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MyMoodDbContext" connectionString="Data Source=SOL; Database=MyMood_Test; Trusted_Connection=Yes; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
    <add name="Discover.Logging.NLog.Properties.Settings.LoggerConnectionString" connectionString="Data Source=MYMOOD-SERVER; Database=MyMood_Test; Trusted_Connection=Yes; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <Discover>
    <Application uri="http://localhost:1436/" rootFileFolder="C:\DiscoverNew\CodeStore\Kiln\Clients\DeutscheBank\temp\TrainingHubTemp\" localUri="http://localhost:1436/" />
    <Mail enabled="true" externalEmailLink="http://localhost/Emails/{0}" connectionLimit="25" defaultAccount="Default" administrativeAddress="russ@discover-corporation.com" failedMailRetryPeriod="0" suspendMailAfterAttempts="5" storeSuccessfulMails="true" exceptionEmailTitle="An error occurred in Discover.Emailing.Test">
      <accounts>
        <add name="Default" serverAddress="84.22.179.7" serverPort="25" senderEmailAddress="mymood@discover-corporation.com" senderDisplayName="myMood" serverUsername="mymood@discover-corporation.com" serverPassword="novart1s!"  />
      </accounts>
    </Mail>
  </Discover>
</configuration>