<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="MyMoodDbContext" connectionString="Data Source=MYMOOD-SERVER; Database=MyMoodTest; Persist Security Info=True;User ID=mymooduser; Password=D1scov3r!; MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="MyMood.ServerName" value="LAN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes"></customErrors>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <elmah xdt:Transform="Replace">
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="MyMoodDbContext" />
    <errorMail from="mymood@discover-corporation.com"
					 to="error@discover-corporation.com"
					 cc=""
					 subject="Error in MyMood (Local - Test)"
					 smtpPort="25"
					 smtpServer="84.22.179.7"
					 userName="mymood@discover-corporation.com"
					 password="novart1s!" />
  </elmah>

  <Discover xdt:Transform="Replace">
    <Application uri="http://10.40.0.11/mymoodtest/" rootFileFolder="C:\Windows\Temp\" localUri="http://localhost/mymoodtest/" />
    <Mail enabled="true" externalEmailLink="http://10.40.0.11/MyMood/Emails/{0}" connectionLimit="25" defaultAccount="Default" administrativeAddress="russ@discover-corporation.com" failedMailRetryPeriod="0" suspendMailAfterAttempts="5" storeSuccessfulMails="true" exceptionEmailTitle="An error occurred in Discover.Emailing.Test">
      <accounts>
        <add name="Default" serverAddress="84.22.179.7" serverPort="587" senderEmailAddress="mymood@discover-corporation.com" senderDisplayName="myMood" serverUsername="mymood@discover-corporation.com" serverPassword="novart1s!"  />
      </accounts>
    </Mail>
  </Discover>

</configuration>