<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="MyMoodDbContext" connectionString="Data Source=MYMOOD-SERVER; Database=MyMood; Trusted_Connection=Yes; MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="Discover.Logging.NLog.Properties.Settings.LoggerConnectionString" connectionString="Data Source=MYMOOD-SERVER; Database=MyMood; Trusted_Connection=Yes; MultipleActiveResultSets=true;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings></appSettings>
  <system.web>
    <customErrors mode="On" xdt:Transform="SetAttributes"></customErrors>
  </system.web>

</configuration>
