<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="Discover">
      <section name="Application" type="Discover.Common.Config.DiscoverApplicationConfigSection, Discover.Common" />
      <section name="Mail" type="Discover.Mail.Config.MailConfigSection, Discover.Common" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MyMoodDbContext" connectionString="Data Source=SOL; Database=MyMood_Test; Trusted_Connection=Yes; MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MailBee.Pop3Mail.Pop3.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.ImapMail.Imap.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.SmtpMail.Smtp.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.Security.Powerup.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.AntiSpam.BayesFilter.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MailBee.OutlookMsg.MsgConvert.LicenseKey" value="MN600-E62E11962EF42E302EAB2F052174-0E67" />
    <add key="MyMood.PassCode" value="ABBA6130-9663-4FA4-D1D4-08CF435A7DE9"/>
    <add key="MyMood.ServerName" value="Dev-Web" />
    <add key="MyMood.RegisteredInterestRecipient" value="martin.de_planta@novartis.com" />
    <add key="MyMood.APNSCertificate" value="russ@discover-corporation.com" />
    <add key="SiteName" value="myMood"/>
    <add key="WebDateTimeFormat" value="dd MMM yyyy HH:mm"/>
    <add key="WebDateFormat" value="dd MMM yyyy"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error statusCode="404" redirect="~/Error/404" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/LogIn" timeout="2880" enableCrossAppRedirects="true" defaultUrl="~/" protection="All" slidingExpiration="true"/>
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Cassette.Views" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
    </httpModules>
    <httpHandlers>
      <add path="cassette.axd" verb="*" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
    </httpHandlers>
  </system.web>
  <Discover>
    <Application uri="http://localhost:1436/" rootFileFolder="C:\Windows\Temp\" localUri="http://localhost:1436/" />
    <Mail enabled="true" externalEmailLink="http://localhost/Emails/{0}" connectionLimit="25" defaultAccount="Default" administrativeAddress="russ@discover-corporation.com" failedMailRetryPeriod="0" suspendMailAfterAttempts="5" storeSuccessfulMails="true" exceptionEmailTitle="An error occurred in Discover.Emailing.Test">
      <accounts>
        <add name="Default" serverAddress="84.22.179.7" serverPort="25" senderEmailAddress="mymood@discover-corporation.com" senderDisplayName="myMood" serverUsername="mymood@discover-corporation.com" serverPassword="novart1s!"  />
      </accounts>
    </Mail>
  </Discover>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
    <targets>
      <!-- add your targets here -->
      <target xsi:type="Database" name="SQLLogging" connectionStringName="MyMoodDbContext">
        <commandText>INSERT INTO [LogEntries]([TimeStamp], [Message], [Level], [Logger], [User], [SessionId]) VALUES(getdate(), @msg, @level, @logger, @user, @sessionId)</commandText>
        <!-- parameters for the command -->
        <parameter name="@msg" layout="${message}" />
        <parameter name="@level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@user" layout="${aspnet-user-identity}" />
        <parameter name="@sessionId" layout="${aspnet-sessionid}" />
      </target>
    </targets>
    <rules>
      <!-- add your logging rules here -->
      <logger name="*" minlevel="Debug" writeTo="SQLLogging" />
      <!--
    <logger name="*" minlevel="Trace" writeTo="f"/>
    -->
    </rules>
  </nlog>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="MyMoodDbContext" />
    <errorMail from="mymood@discover-corporation.com"
					 to="error@discover-corporation.com"
					 cc=""
					 subject="Error in MyMood (Dev)"
					 smtpPort="25"
					 smtpServer="84.22.179.7"
					 userName="mymood@discover-corporation.com"
					 password="novart1s!" />
  </elmah>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="CassetteHttpModule" type="Cassette.Aspnet.CassetteHttpModule, Cassette.Aspnet" />
    </modules>
    <handlers>
      <add name="CassetteHttpHandler" path="cassette.axd" preCondition="integratedMode" verb="*" allowPathInfo="true" type="Cassette.Aspnet.CassetteHttpHandler, Cassette.Aspnet" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=(localdb)\v11.0; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>