<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Discover.Logging.NLog.Properties.Settings.LoggerConnectionString"
            connectionString="Data Source=SOL;Initial Catalog=SurveyLogic;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>