<div class='widgetFooter'>
    <a href="@Url.RouteUrl("Event-Monitor", new { EventName = ViewBag.EventName })" title="Monitor Event">Monitor Event</a>
    <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" title="Event List">Event List</a>
</div>
